@charset "ISO-8859-1";
@charset "ISO-8859-1";
#container{
	display: grid;
	grid-template-columns: 40px 20px 140px 50px;
	grid-template-rows: 100px 40px 80px 50px;
}
#total{
	position: absolute;
	top: 30px;
	right: 30px;
}
#title{
	display: flex;
	align-items: center;
	justify-content: center;
}
#row{
	display: flex;
	flex-wrap: wrap;
	margin-top: 50px;
}
.item-1{
	grid-row-start: 1;
	grid-row-end: 2;
	grid-column-start: 3;
	grid-column-end: 4;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.item-2{
	grid-row-start: 2;
	grid-row-end: 3;
	grid-column-start: 3;
	grid-column-end: 4;
	
	text-align: center;
}
.item-3{
	grid-row-start: 3;
	grid-row-end: 4;
	grid-column-start: 3;
	grid-column-end: 4;
	text-align: center;
}
.item-4{
	grid-row-start: 4;
	grid-row-end: 5;
	grid-column-start: 3;
	grid-column-end: 4;
	text-align: center;
}
